@import "mixin.scss";
@import "variable.scss";

.clearfix{
	&:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.pull-left{
	float: left!important;
}
.pull-right{
	float: right!important;
}


@mixin bg-image($url){
  background-image: url($url + "@2x.png");
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    background-image: url($url + "@3x.png");
  }
}