// color

// $brand:											#000;
$brand-red:									#F01414;
$black:                     #000;
$white:                     #fff;
// rgb(7,17,27)
$brand-bg:									#07111B;
// rgb(243,245,247)
$food-font:                 #f3f5f7;
// rgb(147,153,159)
$description-color:         #93999F;